# Ignore folders where unnecessary changes are being made.
x64/
x86/
.vs/

# Ignore annoying file-(extensions).
.DS_Store
.DS_Store?
Thumbs.db
.vs
*.user
.vscode
*.bak
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc